<footer class="bg-primary text-light pb-5">
    <div class="container d-flex justify-content-around ">
        <ul class="list-unstyled mt-5">
            <h3>What we do</h3>
            <li>Countries</li>
            <li>Frequently asked questions</li>
            <li>Procurement</li>
        </ul>
        <ul class="list-unstyled mt-5">
            <h3>Regions</h3>
            <li>Africa</li>
            <li>Americas</li>
            <li>South-East Asia</li>
            <li>Europe</li>
            <li>Eastern Mediterranean</li>
            <li>Western Pacific</li>
        </ul>
        <mat-raised-button class="btn btn-secondary text-light align-self-center" routerLink="/information&contact">Subscribe to our newsletter</mat-raised-button>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <img class="logo" src="../../../assets/pictures/who.logo.png" alt="">
    </div>
</footer>