<mat-toolbar class="d-flex justify-content-around" color="primary" id="navBar">
    <img routerLink="/home" class="logo" src="../../../assets/pictures/who.logo.png" alt="WHO logo">
    <a mat-button routerLink="/home" routerLinkActive="active" id="navItem">Home</a>
    <a mat-button routerLink="/total" routerLinkActive="active" id="navItem">Per country</a>
    <a mat-button routerLink="/global" routerLinkActive="active" id="navItem">Global</a>
    <a mat-button routerLink="/information&contact" routerLinkActive="active" id="navItem">Info & Contact</a>
</mat-toolbar>
