#navBar {
    #navItem {
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
  }

$background: #488ff894;
.active {
  background: $background;
  border-radius: 4px;
}

.logo{
  width: 8rem;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .logo{
      display: none;
  }
}