<app-header></app-header>
<div class="container">
    <mat-card class="text-center my-5">
        <h2>This is an App where we have gathered statistics and information that can help us minimize the spread.</h2>
    </mat-card>
    <!-- First carousel starts -->
    <div id="carouselOne" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselOne" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselOne" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselOne" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active carousel-one">
                <div class="overlay-image">
                    <img src="../../../assets/pictures/slide 1 country.jpg" class="d-block w-100 slide-pic" alt="...">
                </div>
                <div class="carousel-caption d-md-block">
                    <h3>Statistics per country</h3>
                    <p>On this page you can get a live update of the Covid-19 virus per country</p>
                    <a class="m-4" mat-raised-button routerLink="/total">Go to <strong>Country</strong> statistics</a>
                </div>
          </div>
          <div class="carousel-item carousel-one">
                <div class="overlay-image">
                    <img src="../../../assets/pictures/slide 2 world.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-caption"> <!-- d-none d-md-block -->
                    <h3>Global statistics</h3>
                    <p>On this page you can view the global statistics of Covid-19</p>
                    <a class="m-4" mat-raised-button routerLink="/global">Go to <strong>Global</strong> statistics</a>
                </div>
          </div>
          <div class="carousel-item carousel-one">
                <div class="overlay-image">
                    <img src="../../../assets/pictures/slide-3-add.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-caption"> <!-- d-none d-md-block -->
                    <h3>Information & contact</h3>
                    <p>On this page you can read more information about Covid-19 and sign up for our newsletter</p>
                    <a class="m-4" mat-raised-button routerLink="/information&contact">Go to <strong>Info & Contact</strong></a>
                </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselOne"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselOne"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- First carousel ends -->
    <div class="container">
        <div class="my-5 row">
            <mat-card class="link-container mt-2 mx-2 col col-md-4">
                <ul>
                    <h2>Useful links to learn more</h2>
                    <li><a href="https://www.who.int/">WHO</a></li>
                    <li><a href="https://www.folkhalsomyndigheten.se/">Folkhälsomyndigheten</a></li>
                    <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/different-vaccines/Pfizer-BioNTech.html">Pfizer vaccine (CDC)</a></li>
                    <li><a href="https://www.who.int/news-room/feature-stories/detail/the-oxford-astrazeneca-covid-19-vaccine-what-you-need-to-know">AstraZeneca vaccine (WHO)</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">Wikipedia-Covid-19</a></li>
                </ul>  
            </mat-card>
            <!-- Second carousel start -->
            <mat-card class="link-container mt-2 mx-2 col">
                <h2>News</h2>
                <div id="carouselTwo" class="carousel slide border" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                            <a href="https://www.who.int/news/item/20-02-2021-who-director-general-s-statement-on-tanzania-and-covid-19">
                                <div class="d-flex carousel-cap-two">
                                    <img src="../../../assets/pictures/carousel-two-pictures/carousel-two-pic1.png" class="" id="carousel-two-pic" alt="...">
                                    <div class="align-self-center mx-2">
                                        <p>WHO Director-General's statement on Tanzania and COVID-19</p>
                                    </div>
                                </div>
                            </a>
                      </div>
                      <div class="carousel-item">
                            <a href="https://www.who.int/news/item/22-02-2021-no-fault-compensation-programme-for-covid-19-vaccines-is-a-world-first">
                                <div class="d-flex carousel-cap-two">
                                    <img src="../../../assets/pictures/carousel-two-pictures/carousel-two-pic2.png" class="" id="carousel-two-pic" alt="...">
                                    <div class="align-self-center mx-2">
                                        <p>No-fault compensation programme for COVID-19 vaccines is a world first</p>
                                    </div>
                                </div>
                            </a>
                      </div>
                      <div class="carousel-item">
                            <a href="https://www.who.int/news/item/19-02-2021-world-waking-up-to-vaccine-equity">
                                <div class="d-flex carousel-cap-two">
                                    <img src="../../../assets/pictures/carousel-two-pictures/carousel-two-pic3.jpg" class="" id="carousel-two-pic" alt="...">
                                    <div class="align-self-center mx-2">
                                        <p>World Waking Up To Vaccine Equity</p>
                                    </div>
                                </div>
                            </a>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTwo"  data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselTwo"  data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- Second carousel ends -->
                <!-- Third carousel start -->
                <div id="carouselThree" class="carousel slide border mt-3" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="https://www.who.int/news/item/18-02-2021-from-paper-to-digital-pathway-who-launches-first-smart-guidelines">
                                <div class="d-flex carousel-cap-two">
                                    <img src="../../../assets/pictures/carousel-three-pictures/carousel-three-pic1.jpg" class="" id="carousel-two-pic" alt="...">
                                    <div class="align-self-center mx-2">
                                        <p>From paper to digital pathway: WHO launches first ‘SMART Guidelines’</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://www.who.int/news/item/16-02-2021-covax-statement-on-who-emergency-use-listing-for-astrazeneca-oxford-covid-19-vaccine">
                                <div class="d-flex carousel-cap-two">
                                    <img src="../../../assets/pictures/carousel-three-pictures/carousel-three-pic2.jpg" class="" id="carousel-two-pic" alt="...">
                                    <div class="align-self-center mx-2">
                                        <p>COVAX Statement on WHO Emergency Use Listing for AstraZeneca/Oxford COVID-19 Vaccine</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://www.who.int/news/item/03-02-2021-covax-publishes-first-interim-distribution-forecast">
                                <div class="d-flex carousel-cap-two">
                                    <img src="../../../assets/pictures/carousel-three-pictures/carousel-three-pic3.jpg" class="" id="carousel-two-pic" alt="...">
                                    <div class="align-self-center mx-2">
                                        <p>COVAX publishes first interim distribution forecast</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselThree"  data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselThree"  data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- Third carousel ends -->
                <!-- Fourth carousel start -->
                <div id="carouselFourth" class="carousel slide border mt-3" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="https://www.who.int/news/item/30-12-2020-covid-19-anniversary-and-looking-forward-to-2021">
                                <div class="d-flex carousel-cap-two">
                                    <img src="../../../assets/pictures/carousel-fourth-pictures/carousel-fourth-pic1.jpg" class="" id="carousel-two-pic" alt="...">
                                    <div class="align-self-center mx-2">
                                        <p>COVID-19: One year later – WHO Director-General’s new year message</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://www.who.int/news/item/15-01-2021-information-and-resources-on-covid-19-r-d">
                                <div class="d-flex carousel-cap-two">
                                    <img src="../../../assets/pictures/carousel-fourth-pictures/carousel-fourth-pic2.jpg" class="" id="carousel-two-pic" alt="...">
                                    <div class="align-self-center mx-2">
                                        <p>Information and resources on COVID-19 R&D</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://www.who.int/news/item/15-01-2021-emergency-committee-on-covid-19-advises-on-variants-vaccines">
                                <div class="d-flex carousel-cap-two">
                                    <img src="../../../assets/pictures/carousel-fourth-pictures/carousel-fourth-pic3.jpg" class="" id="carousel-two-pic" alt="...">
                                    <div class="align-self-center mx-2">
                                        <p>Emergency Committee on COVID-19 advises on variants, vaccines</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselFourth"  data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselFourth"  data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- Fourth carousel start -->
            </mat-card>
        </div>
    </div>
</div>
<!-- Import footer component -->
<app-footer></app-footer>