.carousel-item{
  background: rgb(0, 0, 0);
  background-position: center;
  background-size: cover;
  max-height: 32rem;
}

.overlay-image{
  opacity: 0.7;
}

/* .link-container{
  max-width: 25.5rem;
} */