.carousel-one{
  background: rgb(0, 0, 0);
  background-position: center;
  background-size: cover;
  max-height: 32rem;
}

.overlay-image{
  opacity: 0.7;
}

#carousel-two-pic{
  height: 9rem;
}

.carousel-cap-two p{
  color: rgb(14, 13, 13) !important;
}

.carousel-control-prev:hover, .carousel-control-next:hover {   
  background-color: rgba(0, 0, 0, 0.603); 
}