<app-header></app-header>
<div class="global">
    <!-- If error print out error message -->
    <h1>{{error}}</h1>
    <h1>Global active cases: {{globalArray.active}}</h1>
    <h1>Global deaths: {{globalArray.deaths}}</h1>
    <h1>Global critical condition: {{globalArray.critical}}</h1>
    <h1>Test units administered globaly: {{globalArray.tests}}</h1>
</div>
<br>
<br>
<div class="today">
    <h1>Todays cases: {{globalArray.todayCases}}</h1>
    <h1>Todays deaths: {{globalArray.todayDeaths}}</h1>
    <h1>Todays recovered: {{globalArray.todayRecovered}}</h1>
</div>

