<app-header></app-header>
<div class="container text-center">
    <div>
        <img class="globe mt-5 mb-5" src="../../../assets/pictures/globe.png" alt="Picture of a globe">
    </div>
    <!-- If error print out error message -->
    <h1>{{error}}</h1>
    <div class="row justify-content-center">
        <h1><strong>Global statistics</strong></h1>
        <div class="col m-3 p-3 border bg-light">
            <h1 class="m-0">Confirmed<h2 class="m-0">{{globalArray.active}}</h2></h1>
        </div>
        <div class="col m-3 p-3 border bg-light">
            <h1 class="m-0">Deaths<h2 class="m-0">{{globalArray.deaths}}</h2></h1>
        </div>
        <div class="col m-3 p-3 border bg-light">
            <h1 class="m-0">Critical<h2 class="m-0">{{globalArray.critical}}</h2></h1>
        </div>
        <div class="col m-3 p-3 border bg-light">
            <h1 class="m-0">Test units<h2 class="m-0">{{globalArray.tests}}</h2></h1>
        </div>
    </div>
    <br>
    <div class="row mt-5 justify-content-center">
        <h1><strong>Todays global statistics</strong></h1>
        <div class="col m-3 p-3 border bg-light">
            <h1 class="m-0">Confirmed<h2 class="m-0">{{globalArray.todayCases}}</h2></h1>
        </div>
        <div class="col m-3 p-3 border bg-light">
            <h1 class="m-0">Deaths<h2 class="m-0">{{globalArray.todayDeaths}}</h2></h1>
        </div>
        <div class="col m-3 p-3 border bg-light">
            <h1 class="m-0">Recovered<h2 class="m-0">{{globalArray.todayRecovered}}</h2></h1>
        </div>
    </div>
</div>

<br>
<br>
<br>
<div class="container mb-5">
    <h2>Statistics per continent</h2>
    <p>(Use the colored buttons below to interact with chart)</p>
    <!-- Import global-bar-chart.component -->
    <app-global-bar-chart></app-global-bar-chart>
</div>

