<app-header></app-header>

<div>
    <h1>Corona virus</h1>
    <label>Pick A Country</label>
    <!-- When the value changes on select box, execute getCountry -->
    <select (change)="getCountry($event.target)">
        <!-- Loop through countriesArray and get and set value from the Slug from the API, on click get the specified data -->
        <option *ngFor="let country of countriesArray" value={{country.Slug}} (click)="getData()">
            <!-- Return the name of the selected country -->
            {{country.Country}}
        </option>
    </select>
    
    <br>

    <h1>Total cases: {{confirmed}}</h1>
    <h1>Total recovered: {{recovered}}</h1>
    <h1>Total deaths: {{deaths}}</h1>
</div>
